//
    .navbar-dark{
        background-color: #3333333d;
    }
.caption-right
    {
        text-align: right;
    }

    .caption-left
    {
        text-align: left;
    }

    .caption-center
    {
        text-align: center;
    }

    .carousel-caption > h5
    {
        font-size: 30px;
        font-weight: bold;
    }
    
    // .carousel-caption > button
    // {
    //     display: block;
    // }

    .st-container
    {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 0;
        z-index: 1;
    }

    .carousel-inner img 
    {
        height: 800px;
      }

      .footer-top
      {
        padding: 60px 0;
        background: #333;
        text-align: left;
        color: #aaa;
      }
      .footer-bottom
      {
        padding: 15px 0;
        background: #444;
        text-align: left;
        color: #aaa;
      }
      .footer-social
      {
        font-size: 24px;
        vertical-align: middle;
      }

      .footer-social a 
      {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 8px;
        color: #777;
        border: 0;
    }
    .footer-top h3 {
        padding-bottom: 10px;
        color: #fff;
    }
    .footer-contact p {
        word-wrap: break-word;
    }
    .footer-contact i {
        padding-right: 10px;
        font-size: 18px;
        color: #666;
    }
    .footer-about img.logo-footer {
        max-width: 74px;
        margin-top: 0;
        margin-bottom: 18px;
    }
    .footer-contact p a {
        color: #aaa;
        border-bottom: 1px dashed #666;
    }
    .footer-about p a {
        color: #aaa;
        border-bottom: 1px dashed #666;
    }
    .section-container {
        margin: 0 auto;
        padding-bottom: 80px;
    }
    .section-description {
        margin-top: 60px;
        padding-bottom: 10px;
    }
    .section-1-box {
        padding-top: 30px;
        text-align: left;
    }
    .section-1-box .section-1-box-icon {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        background: #7762ac;
        background: -moz-linear-gradient(top, #856dc0 0%, #7762ac 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#856dc0), color-stop(100%,#7762ac));
        background: -webkit-linear-gradient(top, #856dc0 0%,#7762ac 100%);
        background: -o-linear-gradient(top, #856dc0 0%,#7762ac 100%);
        background: -ms-linear-gradient(top, #856dc0 0%,#7762ac 100%);
        background: linear-gradient(to bottom, #856dc0 0%,#7762ac 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#856dc0', endColorstr='#7762ac',GradientType=0 );
        font-size: 40px;
        color: #fff;
        line-height: 80px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -o-transition: all .6s;
        -moz-transition: all .6s;
        -webkit-transition: all .6s;
        -ms-transition: all .6s;
        transition: all .6s;
    }
    .section-1-box h3 {
        margin-top: 0;
        padding: 0 0 10px 0;
    }
    .section-description h2
    {
        text-align: center;
    }
    h3 {
        font-size: 22px;
        font-weight: 300;
        color: #555;
        line-height: 30px;
        font-style: italic;
    }
    h1, h2 {
        margin-top: 10px;
        font-size: 38px;
        font-weight: 300;
        color: #555;
        line-height: 50px;
        font-style: italic;
    }